<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1">
    <test name="Groups" >
        <classes>
            <class name="ru.stqa.yuri.addressbook1.tests.yuriGroupTest1" />
            <class name="ru.stqa.yuri.addressbook1.tests.GroupModificationTests" />
            <class name="ru.stqa.yuri.addressbook1.tests.yuriDeleteGroupTest1" />

        </classes>
    </test>

    <test name="Contacts">
        <classes>
            <class name="ru.stqa.yuri.addressbook1.tests.yuriNewContactTest1" />
                  </classes>
    </test>
</suite>